body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 90px;
    height: auto;
    padding-top: 13px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0;
}

nav ul li {
    text-align: center;
    transition: transform 0.3s;
}

nav ul li:hover {
    transform: translateY(-5px);
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

nav ul li a:hover {
    color: #ffcc00;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 10px;
}

.settings-link {
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.3s;
}

.settings-link:hover {
    transform: translateY(-5px);
    color: #ffcc00;
}

main {
    padding: 20px;
}

.schedule {
    margin-bottom: 20px;
}

.schedule h3 {
    margin-bottom: 10px;
}

.timetable {
    display: flex;
    flex-wrap: nowrap; /* Ensure all items stay in one line */
    gap: 10px;
}

.lesson {
    flex: 1; /* Allow boxes to grow and shrink equally */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    color: #333;
    font-weight: bold;
    max-width: 120px; /* Adjust width to fit more boxes in a row */
}

.lesson.highlight {
    border: 2px solid #003366;
    font-weight: bold;
    background-color: #e6f7ff;
}

.lesson:hover {
    opacity: 0.8;
    background-color: #e1e1e1;
}